*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

body{
	height: 100%;
	background-color: #113;


}

h1{
	font-size: 3rem;
	font-weight: 50;
	margin:1rem 0 3rem;
	text-align:center;
	color: #fff;
	font-family: 'Bangers', cursive;
	
}

.styling{
	color: lime;
}

.list{
	color: orange;
}

.input1 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.input1 .height{
	padding: 0.5rem 1rem;
	height: 50px;
	outline: 50px;
	background-color: #fff;
	width: 450px;
	font-size: 1.15rem;
	margin: 0.25rem;
	border: 5px solid orange;
	border-radius: 25px;
}

.second{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.second .weight{
	padding: 0.5rem 1rem;
	height: 50px;
	outline: 50px;
	background-color: #fff;
	width: 450px;
	font-size: 1.15rem;
	margin: 0.25rem;
	border: 5px solid orange;
	border-radius: 25px;
}

.button{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.enter{
	height: 50px;
	padding: 0.5rem 1rem;
	border-radius: 25px;
	outline: none;
	border: 3px solid orange;
	color: #116;
	margin:0.25px;
	background-color:lime;
	cursor: pointer;
	font-size: 20px;
	font-weight: 5;
	font-family: 'Hind', sans-serif;
}

.enter:hover{
	opacity: 0.7;
}